{% extends 'base.html.twig'%}
{% block body%}
	<h1>Inscription sur le site </h1>
	
	{{ form_start(form) }}
	<div class="form-group">
	{{ form_row(form.username, {'label' : ' Nom d\'utilisature  '}) }}
		</div>
	<div class="form-group">
	{{ form_row(form.email, {'label' : ' Adress email  '}) }}
		</div>
	<div class="form-group">
	{{ form_row(form.password)  }}
		</div>
	<div class="form-group">
	{{ form_row(form.confirm_password) }}
		</div>
	<div class="form-group">
	<button type"submit" class="btn btn-success"> Inscription </button>
		</div>
	{{ form_end(form)}}

{% endblock%}